<header>
    <h1>Student Attendance Management System</h1>
   
    <nav>
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/add">Add Students</a></li>
            <li><a href="/totel">View Total Students</a></li>
            <li><a href="/attendence">Attendance</a></li>
            <li><a href="/view-attendance">View Attendance</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <button class="menu-toggle" onclick="toggleMenu()">☰</button>
</header>
<script src="/script.js"></script>